.container-table {
    background-color: #FFFFFF;
    width: 1000px;
    padding: 10px;
    border-radius: 10px;

}

.container-table2 {
    background-color: #FFFFFF;
    width: 650px;
    padding: 10px;
    border-radius: 10px;

}