.saranStyle{
    background-color: #ffffff;
    width: auto;
    height: max-content;
    padding: 10px;
    margin:10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.container-delete-saran {
    margin-left: 10px;
}

.saranStyleContainer {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.containerButtonDeleteSaran {
    display: flex;
    flex-direction: column;
}