.form-control {
    background-color: white;
    border: none;
    width: 100%;
    border-radius: 13px;
    box-shadow: none;
    font-size: 14px;
    padding: 30px;
    font-family: mulish;
    border: 1px solid #4692FD;

    
  }
  
  .container-saran {
    background-color: transparent;
    width: 100%;

  }
  .form-control:focus {
    outline: none;
    box-shadow: none;
  }
  
  .form-group {
    margin-bottom: 30px;
  }
  
  /* Style untuk label form */
  .form-label {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .ButtonTambahSaran{
      display: flex;
      flex: 2;
  }

  .container-button-tambah-data {
    display: flex;
    text-align: right;
  }