.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .popup {
    background-color: white;
    width: 400px;
    padding: 50px;
    text-align: center;
    border-radius: 15px;
  }
  
  .popup-message {
    margin-bottom: 20px;
  
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .button-container button {
    margin: 0 10px;
  }
  
  .ButtonKonfirmasiYa {
    padding: 15px;
    width: max-content;
    height: max-content;
    margin: 20px;
    border: none;
    border-radius: 13px;
    background-color: #4692FD;
    color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    display: inline-flex;
    flex: 3;
    justify-content: center;
  }

  .ButtonKonfirmasiNo {
    padding: 15px;
    width: max-content;
    height: max-content;
    margin: 20px;
    border: none;
    border-radius: 13px;
    background-color: tomato;
    color: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    display: inline-flex;
    flex: 3;
    justify-content: center;
  }