.container-table-berita {
    width: 100%;
}

 .cover-data-berita {
    width: 100%;
 }

 .content-page-berita {
    /* padding: 20px; */
    display:flex;
    flex: 1;
    width: 100%;
    
 }

 .container-button-tambah-data {
   display: flex;
   justify-content: right;
 }
 