.container-komoditi{
    height: max-content;
    width: 100%;
    margin-top: 10px;
    display: flex;
    gap: 25px;
    }  
    .KomoditiInfo {
      display: grid;
      grid-area: KomoditiInfo;
      background-color:white;
      width: 65%;
      text-align: justify;
      border-radius: 13px;
      padding: 25px;
      margin: 5px;
      justify-content: center;
    }
    
    .KomoditiInfo h1 {
      font-size: 30px;
      margin: 2rem 0;
      text-align: center;
      color:#4692FD;
    }
    
    .KomoditiInfo img {
      margin-top: 20px;
      display: flex;
      width:100%;
      height: auto;
      border-radius: 10px;
      text-align: center;
    }
    
    .KomoditiInfo p {
      display: flex;
      margin-top: 20px;
      font-size: 14px;
      line-height: 1.5;
      width: 100%;
    }
  
    .grafikkomoditi{
      display: flex;
      flex: 1;
      width: 20%;
      grid-area: grafikkomoditi;
      background-color: #F7F7F7;
      justify-content: center;
      margin-left: 0;
      padding-left: 0;
      height: auto;
      margin-top: 10px;
    }