
.logoDita {
    position: relative;
    z-index: 3;
    top: 0;
    padding: 25px;
    background-color: #ffffff ;
    grid-area: logo;
    /* display: grid; */
    /* flex-direction: column;  */
    justify-content: center;
    align-items: center;
}