.navbar ul li {
  position: relative;
}

.navbar ul li a {
  display: block;
  padding: 5px;
  color: #333;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar ul li a:hover {
  background-color: #4692FD;
  color: #fff;
}

.navbar ul li a img {
  display: inline-block;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  margin-top: 0;
  margin-bottom: 0;
}

/* Tampilan saat link aktif */
.navbar ul li a.active {
  background-color: #4692FD;
  color: #fff;
}

/* Tampilan saat link non-aktif */
.navbar ul li a.disabled {
  opacity: 0.5;
  /* pointer-events: none; */
  /* style lain yang diinginkan */
}

.dropdown-menu {
  width: 150px;
  margin-left: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 3px;
  margin-left: 5px;
  margin-right: 5px;
}

.dropdown-icon-sidebar-pusat{
  display:flex;
  flex: 1;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  margin-top: 5px;
  margin-left: 55px;
}